[Unit]  
Description=motion
After=network.target  
   
[Service]  
Type=forking  
ExecStart=motion -c /usr/local/etc/motion/my_motion.conf 
PrivateTmp=true  
   
[Install]  
WantedBy=multi-user.target  
